<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="envelope">
      <div class="lbar">
        <div id='menu'></div>
      </div>
      <div class="banner"><h1 class="title"></h1></div>
      <div class="content">
        <div>
          <ul class="posts"><li class="post"></li></ul>
          <hr/>
          <div class="nextLinks">
            <div class="left"></div>
            <div class="right"></div>
            <div class="middle">
              <h3></h3>
            </div>
            <br style="clear:both;"/>
          </div>          
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
