<ul class="menu">
  <li>
    <a class="selected" href="/">Blog</a>
  </li>
  <li>
    <a href="http://clojure.org/">Clojure.org</a>
  </li>
  <li>
    <a href="https://github.com/abscondment/clog">Clog Documentation</a>
  </li>
</ul>
