body {
  font-family:Arial, sans-serif;
  font-size:0.9em;
  line-height:1.2em;
  margin:0.5em;
  padding:0;
  border:0.5em solid #006000;
  background-color:#fff;
  color:#222;
  top:0.5em;
  bottom:0.5em;
  left:0.5em;
  right:0.5em;
}

.header, h1, h2, h3, h4, h5, h6 {
  font-family:Georgia,serif;
  font-weight:normal;
}
h1 { font-size:1.7em; }
h2 { font-size:1.4em; }
h3 { font-size:1.2em; }

ul li { list-style-type:square; }

a {color:#00d;}
a:visited {color:#666;}
a:hover {color:#000;}

abbr, acronym { border-bottom:1px dotted #333; cursor: help; }

.envelope {
  margin:0;
  padding:1.5em 2em;
  border:0.5em solid #00a000;
  top:0em;
  bottom:0em;
  left:0em;
  right:0em;
  min-height:25em;
}

.header {
  margin:0 0 0.5em 11.85em;
  padding:0 0 0.5em 0;
  font-size:1.2em;
  border-bottom:1px solid #999;
}

.header h1 {
  margin: 0.5em 0;
}

.header a {
  text-decoration:none;
}

ul.menu {padding:0;margin:0;}
ul.menu li {list-style-type:none;margin:0;padding;0;}
ul.menu li a {
  display:block;
  padding:0.6em 0;
  margin:0 1em 1em 0;

  background-color:#00a000;
  color:#fff;
  font-family:georgia,serif;
  font-size:1.2em;
  font-weight:bold;

  vertical-align:middle;
  text-align:center;
  text-decoration:none;
  text-transform:capitalize;
  letter-spacing: 0.15em;

  -moz-border-radius: 0.37em;
  -webkit-border-radius: 0.37em;
}
ul.menu li a.selected {
  background-color:#006000;
}
ul.menu li a:hover {
  background-color:#004000;
}

.lbar {
  float:left;
  width:13em;
  min-height:25em;
}

.content {
  margin:0 1em 0 14em;
  width:42em;
  line-height:1.6em;
}
.wide { width:auto; }

.content .rightImage {float:right;text-align:center;margin: 0 0 1em 1em;}
.content .borderedImage { border:1px solid #666; }

ul.posts { margin-top:0; }
ul.posts li.post { margin-bottom:5px; }

div.years {margin-top:10px;}

.codeBlock, pre { padding:2em 3em;line-height:2em;border-style:solid;border-width:1px 0;border-color:#ddd;background-color:#efefef; word-wrap:break-word; }
.codeBlock {display:block;}

.footer {
  bottom:1em;
  left:0;
  right:0;
  text-align:center;
  font-size:0.8em;
  color:#aaa;
}
.footer a {color:#aaa;}
.footer img {vertical-align:middle;}

.gist { font-size: 0.8em; }