
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="/brendan/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/brendan/css/iPhone.css" media="only screen and (max-device-width: 600px)" rel="stylesheet" type="text/css" />
    <link href="http://feeds.threebrothers.org/threebrothers/brendan" rel="alternate" title="Quod erat faciendum" type="application/atom+xml" />
    <title></title>
