
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="/brendan/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/brendan/css/iPhone.css" media="only screen and (max-device-width: 480px)" rel="stylesheet" type="text/css" />
    <link href="http://feeds.feedburner.com/threebrothers/brendan" rel="alternate" title="Wine, Water, and Blood" type="application/atom+xml" />
    <title>Wine, Water, and Blood - Brendan Ribera</title></head>
