
<ul class="menu">
  <li>
    <a class="selected" href="/brendan/">Blog</a>
  </li>
  <li>
    <a href="/brendan/about/">About</a>
  </li>
  <li>
    <a href="/brendan/software/">Software</a>
  </li>
</ul>
