<!DOCTYPE html>
<html>
  <head></head>
  <body onload="setTimeout('deferredLoad();', 5);">
    <div class="envelope">
      <div class="lbar">
        <div id='menu'></div>
      </div>
      <div class="banner"><h1 class="title"></h1></div>
      <div class="content">
        <h1><a></a></h1>
        <br/>
        <div id="disqus_thread"></div>
        <noscript><p><a href="http://disqus.com/forums/tbdo-brendan/?url=ref">View the discussion thread.</a></p></noscript>
        <div style="clear:both;margin:2em 0 1em 0;">
          <div style="float:left;" id="previousPost"></div>
          <div style="float:right;" id="nextPost"></div>
          <br style="clear:both;"/>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script src="/brendan/js/blog.js" type="text/javascript"></script>
  </body>
</html>

